<div class="row">
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
  <div class="col-md-1">1 column</div>
</div>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="main-content" class="col-md-9">
      CURRENTLY IN PROCESS <br>
      Homepage will include: miscallenous stuff (like youtube videos and such)<br>
      header with champion guides for champselect, search for a specific player and topic/discussion threads<br>
      find cool background and icon and pictures<br>
      maybe use bootstrap (SASS)?<br>
      Although this site is primarily being made for LoL, hopefully after completetion I will have time to add more games<br>
      *** NOTE!! This is made just for fun, and to practice RoR. please dont sue me for any images or copyright infringement. <3 <br>
      asdasdjasldjalsdkjaskldjaskldjaslkdjlaksdjlkasjdlkasjdlaskdljalksjdalksdjalksdjlkasdjlaksd
      <br><%= link_to 'Champs', champions_path, class: 'btn btn-primary btn-xs' %>
    </div>
    <div id="sidebar" class="col-md-3">
      <h3> THIS WILL BE A SIDE BAR </h3>
      <p> not sure what will be here yet </p>
      <p> maybe links or stuff </p>
      ASLKDJAKSJDKLAJSDLKAJSDKLAJSDLKAJSDKLJASDLKJASDLKJASDLKJASDLKJASDKLJALSKDJLKASJDLKASJDLKASJDKLj
    </div>

  </div>
</div>




