<div class="container">
  Title: <%= @topic.title %><br>
  <%= @topic.body %>

  <% if current_user.id == @topic.user_id %>
    <%= link_to "delete", topic_path(@topic), :confirm => "Are you sure?", :method => :delete, class: 'btn btn-primary btn-xs' %>
  <% else %>
    <%= "you cant do anything" %>
  <% end %>

</div>