<div class="container">

<h1>Welcome To My LoL Guide</h2>
CURRENTLY IN PROCESS <br>
Homepage will include: miscallenous stuff (like youtube videos and such)<br>
header with champion guides for champselect, search for a specific player and topic/discussion threads<br>
find cool background and icon and pictures<br>
maybe use bootstrap?<br>
Although this site is primarily being made for LoL, hopefully after completetion I will have time to add more games<br>
*** NOTE!! This is made just for fun, and to practice RoR. please dont sue me for any images or copyright infringement. <3 <br>

<br><%= link_to 'Champs', champions_path %>
</div>