<div class="container">
a little bio about myself and maybe a pciture (cause im so good looking :D ) <br>
<div>
the real cross fit
<div id="cross">
  <img src="/images/jesuscrossfit.jpg" alt="image with rounded corners">
</div>

</div>
